.container
  - for (i = 0; i < 400; i++)
    .trigger
  .monitor
    .camera.o-x
      .camera.o-y
        .camera.o-z
          .vr
            - for (i = 0; i < 20; i++)
              .vr_layer
                .vr_layer_item